# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
env/
.venv/

# Flask instance folder
instance/
*.db
*.sqlite3

# Logs
*.log

# IDE/editor stuff
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# PyInstaller
*.spec
build/
dist/

# Testing
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.cache/

# Environment variables
.env
*.env
.env.local
.env.development
.env.production

# Migrations (optional kalau generate otomatis)
migrations/

# Temporary files
*.tmp
*.bak
*.swp

# Server File
hello.py
passenger_wsgi.py
tmp/